table, td, th {  
    border: 1px solid #ddd;
    text-align: middle;
  }
  table {
    border-collapse: collapse;
    width: 75%;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top: 35px;
  }
  th, td {
    padding: 15px;
  }
  th{
    background-color: gray;
  }
  .drop-down{
    width: 25%;
    margin-left: auto;
    margin-top: 10px;
    margin-right:auto;
  }
  .drop-down-state{
    width: 25%;
    margin-right: auto;
    margin-top: 30px;
    margin-left:auto;
  }

  .label-left{
    width: 25%;
    margin-left: auto;
    margin-top: 10px;
    margin-right:auto;
    font-weight: bold;
    font-family:'Times New Roman';
    font-size: calc(10px + 2vmin);
  }
  .label-right{
    width: 25%;
    margin-right: auto;
    margin-top: 100px;
    margin-left:auto;
    font-weight: bold;
    font-family:'Times New Roman';
    font-size: calc(10px + 2vmin);
  }
  .rowC{
    display:flex;
    flex-direction:row;
 }
